apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: longhorn
  namespace: kube-system
spec:
  chart: longhorn
  repo: https://charts.longhorn.io
  version: {{ longhorn_chart_version }}
  targetNamespace: {{ longhorn_namespace }}
  createNamespace: true
  valuesContent: |
    defaultSettings:
      defaultDataPath: {{ longhorn_default_data_path }}
      replicaSoftAntiAffinity: true
      createDefaultDiskLabeledNodes: true
    longhornManager:
      nodeSelector:
        storage: "ssd"
    longhornDriver:
      nodeSelector:
        storage: "ssd"
    longhornUI:
      nodeSelector:
        storage: "ssd"
    instanceManager:
      nodeSelector:
        storage: "ssd"
    persistence:
      defaultClass: true
      defaultClassReplicaCount: {{ longhorn_replica_count }}
    service:
      ui:
        type: NodePort
        nodePort: 30080
