apiVersion: v1
kind: Secret
metadata:
  name: vault-issuer-token
  namespace: {{ cert_manager_namespace }}
  annotations:
    kubernetes.io/service-account.name: cert-manager
type: kubernetes.io/service-account-token
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: vault-issuer
spec:
  vault:
    server: https://{{ load_balancer_virtual_ip }}:8200
    path: pki_int/sign/{{ vault_pki_int_role_name }}
    caBundle: {{ ca_bundle_b64 }}
    auth:
      kubernetes:
        role: cert-manager
        mountPath: /v1/auth/kubernetes
        secretRef:
          name: vault-issuer-token
          key: token
