table inet filter {
  chain input {
    # Pi-hole DNS
    udp dport {{ pihole_dns_udp_port }} accept comment "pihole dns udp"
    tcp dport {{ pihole_dns_tcp_port }} accept comment "pihole dns tcp"

    # Pi-hole Web UI
    tcp dport {{ pihole_http_host_port }} accept comment "pihole http"
    tcp dport {{ pihole_https_host_port }} accept comment "pihole https"
  }
}
