apiVersion: 1

contactPoints:
  - orgId: 1
    uid: 'homelab'
    name: 'Homelab'
    receivers:
      - uid: 'homelab_receiver'
        type: email
        settings:
          addresses: 'admin@{{ base_domain }}'
          disableResolveMessage: false
