[defaults]
roles_path = ./roles
collections_paths = ./collections:~/.ansible/collections:/usr/share/ansible/collections
interpreter_python = auto_silent
inventory = ./inventories/inventory.yml
host_key_checking = False
nocows = 1
# Use a temp directory under /tmp to avoid creating /root/.ansible/tmp when switching users
remote_tmp = /tmp/.ansible-tmp
# callbacks_enabled = timer, profile_tasks, profile_roles

[ssh_connection]
retries = 5
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
pipelining = True
