vrrp_script check_haproxy_lb {
  script "/usr/bin/killall -0 haproxy"
  interval 2
  weight 2
}

vrrp_instance VI_LoadBalancer {
  state {{ vrrp_state }}
  interface {{ vrrp_interface }}
  virtual_router_id {{ virtual_router_id }}
  priority {{ vrrp_priority }}
  advert_int 1

  authentication {
    auth_type PASS
    auth_pass {{ vrrp_auth_pass }}
  }

  virtual_ipaddress {
    {{ vip_address }}/{{ load_balancer_vip_prefixlen }}
  }

  track_script {
    check_haproxy_lb
  }
}
