apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: gatekeeper
  namespace: kube-system
spec:
  chart: gatekeeper
  repo: https://open-policy-agent.github.io/gatekeeper/charts
  version: {{ gatekeeper_chart_version }}
  targetNamespace: {{ gatekeeper_namespace }}
  createNamespace: true
