apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: {{ sealed_secrets_release_name }}
  namespace: kube-system
spec:
  chart: sealed-secrets
  repo: https://bitnami-labs.github.io/sealed-secrets
  targetNamespace: {{ sealed_secrets_namespace }}
  version: {{ sealed_secrets_chart_version }}
  valuesContent: |-
    fullnameOverride: {{ sealed_secrets_controller_name }}
