apiVersion: templates.gatekeeper.sh/v1
kind: ConstraintTemplate
metadata:
  name: k8singresstls
spec:
  crd:
    spec:
      names:
        kind: K8sIngressTLS
  targets:
    - target: admission.k8s.gatekeeper.sh
      rego: |
        package k8singresstls

        violation[{"msg": msg}] {
          input.review.object.kind == "Ingress"
          not input.review.object.spec.tls
          msg := "Ingress resources must define TLS"
        }
---
apiVersion: constraints.gatekeeper.sh/v1beta1
kind: K8sIngressTLS
metadata:
  name: enforce-ingress-tls
spec:
  enforcementAction: dryrun
  match:
    kinds:
      - apiGroups: ["networking.k8s.io"]
        kinds: ["Ingress"]
    namespaceSelector:
      matchExpressions:
        - key: policy-tier
          operator: In
          values: ["playground"]
    excludedNamespaces:
{% for ns in gatekeeper_excluded_namespaces %}
      - {{ ns }}
{% endfor %}
