user www-data;
worker_processes auto;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
  worker_connections  4;
}

http {
    ##
    # Basic Settings
    ##

    sendfile off;
    tcp_nopush on;
    tcp_nodelay on;
    keepalive_timeout 65;
    types_hash_max_size 2048;

    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    ##
    # SSL Settings
    ##
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2; # Dropping SSLv3, ref: POODLE
    ssl_prefer_server_ciphers on;

    ##
    # Logging Settings
    ##

    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;

    ##
    # Gzip Settings
    ##

    gzip on;

    ##
    # Virtual Host Configs
    ##

    include /etc/nginx/conf.d/*.conf;

    server {
        listen 8080;
        root /usr/share/nginx/html;
        index index.html;

        server_name localhost;

        location /prometheus {
            rewrite ^.*/prometheus$ http://{{ hostvars["jetsonnano2g"].ansible_host }}:9090 permanent;
        }

        location /grafana {
            rewrite ^.*/grafana$ http://{{ hostvars["jetsonnano2g"].ansible_host }}:3000 permanent;
        }

        location /pihole {
            rewrite ^.*/pihole$ http://{{ hostvars["jetsonnano2g"].ansible_host }}/admin permanent;
        }

        location /voo-router {
            rewrite ^.*/voo-router http://192.168.100.1/ permanent;
        }

        location /netgear-router {
            rewrite ^.*/netgear-router https://10.7.1.1 permanent;
        }
    }
}
