{
    "id": 1,
    "uid":"edjbjmrlkxkw0c",
    "orgId":1,
    "name": "{{ grafana_datasource_name }}",
    "type": "{{ grafana_datasource_type }}",
    "url": "{{ grafana_datasource_url_protocol }}://{{ grafana_datasource_url }}",
    "access":"proxy",
    "user":"",
    "database":"",
    "basicAuth":false,
    "basicAuthUser":"",
    "withCredentials":false,
    "isDefault":true,
    "jsonData":{"httpMethod":"POST"},
    "secureJsonFields":{},
    "version":1,
    "readOnly":false,
    "accessControl":{
        "alert.instances.external:read":true,
        "alert.instances.external:write":true,
        "alert.notifications.external:read":true,
        "alert.notifications.external:write":true,
        "alert.rules.external:read":true,
        "alert.rules.external:write":true,
        "datasources.id:read":true,
        "datasources:delete":true,
        "datasources:query":true,
        "datasources:read":true,
        "datasources:write":true
    }
}
