apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: kube-state-metrics
  namespace: kube-system
spec:
  chart: kube-state-metrics
  repo: https://prometheus-community.github.io/helm-charts
  version: {{ kube_state_metrics_chart_version }}
  targetNamespace: {{ kube_state_metrics_namespace }}
  createNamespace: true
  valuesContent: |
    prometheus:
      monitor:
        enabled: false
    service:
      type: ClusterIP
