apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: kubernetes-dashboard
  namespace: kube-system
spec:
  chart: kubernetes-dashboard
  repo: https://kubernetes.github.io/dashboard/
  version: {{ k3s_dashboard_chart_version }}
  targetNamespace: {{ k3s_dashboard_namespace }}
  createNamespace: true
  valuesContent: |
    kong:
      proxy:
        type: ClusterIP
        annotations:
          traefik.ingress.kubernetes.io/service.serversscheme: https
          traefik.ingress.kubernetes.io/service.serverstransport: {{ k3s_dashboard_namespace }}-dashboard-transport@kubernetescrd
