apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |
    ports:
      web:
        exposedPort: {{ k3s_traefik_http_port }}
      websecure:
        exposedPort: {{ k3s_traefik_https_port }}
    service:
      enabled: true
      type: LoadBalancer
      ports:
        web:
          port: {{ k3s_traefik_http_port }}
        websecure:
          port: {{ k3s_traefik_https_port }}
