{{ ansible_managed | comment }}
mirrors:
  "{{ k3s_registries_host }}":
    endpoint:
      - "https://{{ k3s_registries_host }}"
configs:
  "{{ k3s_registries_host }}":
    auth:
      username: "{{ k3s_registries_username }}"
      password: "{{ k3s_registries_password }}"
