version = 3

[plugins."io.containerd.internal.v1.opt"]
  path = "{{ .NodeConfig.Containerd.Opt }}"

[plugins."io.containerd.grpc.v1.cri"]
  stream_server_address = "127.0.0.1"
  stream_server_port = "10010"
  enable_selinux = {{ .NodeConfig.SELinux }}
  enable_unprivileged_ports = {{ .NodeConfig.Containerd.EnableUnprivilegedPorts }}
  enable_unprivileged_icmp = {{ .NodeConfig.Containerd.EnableUnprivilegedICMP }}
  sandbox_image = "{{ .NodeConfig.AgentConfig.PauseImage }}"

  [plugins."io.containerd.grpc.v1.cri".cni]
    bin_dir = "/var/lib/rancher/k3s/data/cni"
    conf_dir = "/var/lib/rancher/k3s/agent/etc/cni/net.d"

  [plugins."io.containerd.grpc.v1.cri".containerd]
    snapshotter = "{{ .NodeConfig.Containerd.Snapshotter }}"
    disable_snapshot_annotations = {{ .NodeConfig.Containerd.DisableSnapshotAnnotations }}
    discard_unpacked_layers = {{ .NodeConfig.Containerd.DiscardUnpackedLayers }}

    [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc]
      runtime_type = "io.containerd.runc.v2"
      [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc.options]
        SystemdCgroup = true

    [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.nvidia]
      runtime_type = "io.containerd.runc.v2"
      privileged_without_host_devices = false
      [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.nvidia.options]
        BinaryName = "/usr/bin/nvidia-container-runtime-hook"
        SystemdCgroup = true

  [plugins."io.containerd.grpc.v1.cri".registry]
    {{ if .PrivateRegistryConfig }}
    {{ range $k, $v := .PrivateRegistryConfig.Configs }}
    [plugins."io.containerd.grpc.v1.cri".registry.configs."{{$k}}".auth]
      {{ if $v.Auth }}
      username = {{ printf "%q" $v.Auth.Username }}
      password = {{ printf "%q" $v.Auth.Password }}
      auth = {{ printf "%q" $v.Auth.Auth }}
      identitytoken = {{ printf "%q" $v.Auth.IdentityToken }}
      {{ end }}
    {{ end }}
    {{ range $k, $v := .PrivateRegistryConfig.Mirrors }}
    [plugins."io.containerd.grpc.v1.cri".registry.mirrors."{{$k}}"]
      endpoint = [{{ range $i, $j := $v.Endpoints }}{{if $i}}, {{end}}{{printf "%q" $j}}{{end}}]
    {{ end }}
    {{ end }}
