global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node-exporter'
    static_configs:
{% for host in groups['all'] %}
      - targets: ['{{ host }}:{{ prometheus_node_exporter_port }}']
        labels:
          __address_ip__: "{{ hostvars[host].ansible_host }}"
{% endfor %}
    relabel_configs:
      - source_labels: [__address_ip__]
        target_label: __address__
        replacement: "${1}:{{ prometheus_node_exporter_port }}"

  - job_name: 'loki'
    static_configs:
{% for host in groups['loki'] %}
      - targets: ['{{ host }}:{{ loki_port | default(3100) }}']
        labels:
          __address_ip__: "{{ hostvars[host].ansible_host }}"
{% endfor %}
    relabel_configs:
      - source_labels: [__address_ip__]
        target_label: __address__
        replacement: "${1}:{{ loki_port | default(3100) }}"

  - job_name: 'promtail'
    static_configs:
{% for host in groups['all'] %}
      - targets: ['{{ host }}:{{ hostvars[host].loki_promtail_http_listen_port | default(9080) }}']
        labels:
          __address_ip__: "{{ hostvars[host].ansible_host }}"
{% endfor %}
    relabel_configs:
      - source_labels: [__address_ip__]
        target_label: __address__
        replacement: "${1}:{{ loki_promtail_http_listen_port | default(9080) }}"

  - job_name: 'kube-state-metrics'
    static_configs:
{% for host in groups['server'] %}
      - targets: ['{{ host }}:{{ kube_state_metrics_node_port | default(30081) }}']
        labels:
          __address_ip__: "{{ hostvars[host].ansible_host }}"
{% endfor %}
    relabel_configs:
      - source_labels: [__address_ip__]
        target_label: __address__
        replacement: "${1}:{{ kube_state_metrics_node_port | default(30081) }}"
