vrrp_script check_k3s_api {
  script "/usr/bin/curl -k --silent --fail https://127.0.0.1:6443/healthz"
  interval 3
  weight -60
  rise 2
  fall 2
}

vrrp_instance VI_K3s_API {
  state {{ 'MASTER' if inventory_hostname == (groups['server'] | sort)[0] else 'BACKUP' }}
  interface {{ monit_network_interface | default(k3s_api_vrrp_interface | default('end0')) }}
  virtual_router_id {{ k3s_api_virtual_router_id }}
  priority {{ 150 if inventory_hostname == (groups['server'] | sort)[0] else 100 }}
  advert_int 1

  # Prevent "flapping" by not automatically pre-empting a lower priority master
  # if this node has higher priority but just came online.
  # nopreempt

  authentication {
    auth_type PASS
    auth_pass {{ k3s_vrrp_auth_pass | default('k3s-secret') }}
  }

  virtual_ipaddress {
    {{ k3s_api_vip }}/{{ k3s_api_vip_prefixlen }}
  }

  track_interface {
    {{ monit_network_interface | default(k3s_api_vrrp_interface | default('end0')) }}
  }

  track_script {
    check_k3s_api
  }

  notify "/usr/local/bin/keepalived_notify.sh"
}
