vrrp_script check_k3s_lb {
  script "/usr/bin/curl --silent --fail http://127.0.0.1:8404/stats"
  interval 3
  weight 20
  rise 2
  fall 2
}

vrrp_instance VI_K3s_LB {
  state {{ 'MASTER' if inventory_hostname == (groups['server'] | sort)[0] else 'BACKUP' }}
  interface {{ ansible_facts['default_ipv4']['interface'] | default(k3s_lb_vrrp_interface | default('end0')) }}
  virtual_router_id {{ k3s_lb_virtual_router_id }}
  priority {{ 100 if inventory_hostname == (groups['server'] | sort)[0] else 90 }}
  advert_int 1

  # Prevent "flapping" by not automatically pre-empting a lower priority master
  # if this node has higher priority but just came online.
  # nopreempt

  authentication {
    auth_type PASS
    auth_pass {{ k3s_vrrp_auth_pass | default('k3s-secret') }}
  }

  virtual_ipaddress {
    {{ k3s_lb_vip }}/{{ k3s_lb_vip_prefixlen }}
  }

  track_interface {
    {{ ansible_facts['default_ipv4']['interface'] | default(k3s_lb_vrrp_interface | default('end0')) }}
  }

  track_script {
    check_k3s_lb
  }

  notify "/usr/local/bin/keepalived_notify.sh"
}
