[Unit]
Description=Force Time Sync at Boot
After=network-online.target time-sync.target
Wants=network-online.target
Before=ntpd.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/force-time-sync.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
