# Managed by Ansible
# For more information, see ntp.conf(5).

# Default associations
driftfile /var/lib/ntp/ntp.drift

# Use pool.ntp.org maps to local servers
pool 0.pool.ntp.org iburst
pool 1.pool.ntp.org iburst
pool 2.pool.ntp.org iburst
pool 3.pool.ntp.org iburst

# Provide your own local subnet with time if needed
# restrict 192.168.0.0 mask 255.255.255.0 nomodify notrap

# By default, the ntpd will accept queries from all hosts.
restrict default nomodify nopeer noquery
restrict 127.0.0.1
restrict ::1

# Ignore virtual interfaces to prevent crashes during startup
# (Known issue with AARCH64/Arch assertions when binding to unstable veth/flannel IPs)
interface ignore wildcard
interface listen 127.0.0.1
interface listen ::1
{% if ansible_facts['default_ipv4']['address'] is defined %}
interface listen {{ ansible_facts['default_ipv4']['address'] }}
{% endif %}
